*{
    font-family: Century Gothic;
    box-sizing: border-box;
}
body {
    height: auto;
    margin: 0 auto;
    height: 200%;
    background: linear-gradient(130deg, #c47322, #921ea6, #b41f38);
    background-size: 200% 200%;
    -webkit-animation: Animation 7s ease infinite;
    -moz-animation: Animation 7s ease infinite;
    animation: Animation 7s ease infinite;
  }
  
  h1 {
    font-family: "Century Gothic";
    font-size: 15px;
    color: aliceblue;
    word-wrap: break-word;
  }
  .container-second{
    width: 85%;
    margin: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(10px);
    word-wrap: break-word;
    width: auto;
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(4) {
    animation: fade-in 0.8s 1.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(5) {
    animation: fade-in 0.8s 1.23s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(6) {
    animation: fade-in 0.8s 1.36s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(7) {
    animation: fade-in 0.8s 1.49s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(8) {
    animation: fade-in 0.8s 1.52s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(9) {
    animation: fade-in 0.8s 1.59s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(10) {
    animation: fade-in 0.8s 1.70s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(11) {
    animation: fade-in 0.8s 2.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(12) {
    animation: fade-in 0.8s 2.10s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(13) {
    animation: fade-in 0.8s 2.20s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
.player{
  border-radius: 36px;
  width: 90%;
  max-width: 500px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(130deg, #532e0a, #3d0147, #54010f);
  background-size: 200% 200%;

  -webkit-animation: Animation 3s ease infinite;
  -moz-animation: Animation 3s ease infinite;
  animation: Animation 3s ease infinite;
}
@-webkit-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@keyframes Animation { 
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
.playerimg{
  width:100%;
  height: 362px;
  background: url(mylove.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 5px solid #CF6456;
  box-shadow: 0px 10px 10px -5px rgba(207, 100, 86, 0.5);
  border-radius: 33px;
  transition: .5s linear;
}
.playerimg:hover{
  transform: scale(1.1);
}
.player .playpause{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 10%;
  width: 125px;
  height: 125px;
  cursor: pointer;
  background: url(play.png);
  background-blend-mode: lighten;
  filter: drop-shadow(0px 0px 15px rgba(207, 100, 86, 0.5));
  transition: .5s linear;
}
.player .playpause:hover{
  transform: scale(1.1);
}
.container{
  margin: 30px;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
}

.voice-message-container{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 70px;
  width: 100%;
  display: block;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  transition: .3s linear;
  box-shadow: 0px 10px 15px -12px black;
  opacity: 0;
  filter: blur(10px);
  animation: fade-in 1.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.voice-message-container:hover{
  transform: scale(1.1);
}
.voice-message{
  padding: 5px;
}
.progress {
  display: flex;
  width: 77%;
  align-items: center;
  margin-left: 70px;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #dcb7e4;
  vertical-align: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.now {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 10px;
  border-radius: 5px;
  width: 60%;
  background: #a016c0;
}
.playpausevoice{
  width: 25px;
  height: 25px;
  margin: 5px;
  background-image: url(playvoice.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 70px;
  cursor: pointer;
}
.sender-photo{
  height: 60px;
  position: absolute;
  border-radius: 100%;
  width: 60px;
  background-image: url(kuril.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.progress1 {
  display: flex;
  width: 77%;
  align-items: center;
  margin-left: 70px;
}

.progress-bar1 {
  position: relative;
  width: 100%;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #dcb7e4;
  vertical-align: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.now1 {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 10px;
  border-radius: 5px;
  width: 60%;
  background: #a016c0;
}
.playpausevoice1{
  width: 25px;
  height: 25px;
  margin: 5px;
  background-image: url(playvoice.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 70px;
  cursor: pointer;
}
.sender-photo1{
  height: 60px;
  position: absolute;
  border-radius: 100%;
  width: 60px;
  background-image: url(marat.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.progress2{
  display: flex;
  width: 77%;
  align-items: center;
  margin-left: 70px;
}
.progress-bar2 {
  position: relative;
  width: 100%;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #dcb7e4;
  vertical-align: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.now2 {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 10px;
  border-radius: 5px;
  width: 60%;
  background: #a016c0;
}
.playpausevoice2{
  width: 25px;
  height: 25px;
  margin: 5px;
  background-image: url(playvoice.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 70px;
  cursor: pointer;
}
.sender-photo2{
  height: 60px;
  position: absolute;
  border-radius: 100%;
  width: 60px;
  background-image: url(veron.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.progress3{
  display: flex;
  width: 77%;
  align-items: center;
  margin-left: 70px;
}
.progress-bar3 {
  position: relative;
  width: 100%;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #dcb7e4;
  vertical-align: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.now3 {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 10px;
  border-radius: 5px;
  width: 60%;
  background: #a016c0;
}
.playpausevoice3{
  width: 25px;
  height: 25px;
  margin: 5px;
  background-image: url(playvoice.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 70px;
  cursor: pointer;
}
.sender-photo3{
  height: 60px;
  position: absolute;
  border-radius: 100%;
  width: 60px;
  background-image: url(elmic.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.progress4{
  display: flex;
  width: 77%;
  align-items: center;
  margin-left: 70px;
}
.progress-bar4 {
  position: relative;
  width: 100%;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #dcb7e4;
  vertical-align: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.now4 {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 10px;
  border-radius: 5px;
  width: 60%;
  background: #a016c0;
}
.playpausevoice4{
  width: 25px;
  height: 25px;
  margin: 5px;
  background-image: url(playvoice.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 70px;
  cursor: pointer;
}
.sender-photo4{
  height: 60px;
  position: absolute;
  border-radius: 100%;
  width: 60px;
  background-image: url(alexei.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}